<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de Prompt para Blog Post no Chat GPT</title>
    <meta name="description" content="Uma ferramenta avançada para gerar prompts inteligentes para conversas com modelos GPT. Crie diálogos envolventes e informativos.">
    <meta name="keywords" content="Gerador de Prompt, Chat GPT, Diálogo, Inteligência Artificial, Hotwyl">
    <meta name="author" content="Hotwyl">
    <!-- Outras meta tags importantes para SEO -->
    <meta name="robots" content="index, follow">
    <!-- Instruções para os motores de busca -->
    <link rel="canonical" href="URL_CANONICA">
    <!-- URL canônica para evitar conteúdo duplicado -->
    <meta name="image" content="URL_DA_IMAGEM">
    <!-- URL de uma imagem representativa -->
    <!-- Outras meta tags específicas do OpenGraph para redes sociais -->
    <meta property="og:title" content="Gerador de Prompt para Chat GPT por Hotwyl">
    <meta property="og:description" content="Uma ferramenta avançada para gerar prompts inteligentes para conversas com modelos GPT. Crie diálogos envolventes e informativos.">
    <meta property="og:image" content="URL_DA_IMAGEM_PARA_OPENGRAPH">
    <meta property="og:url" content="URL_DA_PAGINA">
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@hotwyl">
    <meta name="twitter:title" content="Gerador de Prompt para Chat GPT por Hotwyl">
    <meta name="twitter:description" content="Uma ferramenta avançada para gerar prompts inteligentes para conversas com modelos GPT. Crie diálogos envolventes e informativos.">
    <meta name="twitter:image" content="URL_DA_IMAGEM_PARA_TWITTER">
    <!-- Favicon -->
    <link rel="shortcut icon" href="URL_DO_FAVICON" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
            color: #333;
            background-color: #fff;
            box-sizing: border-box;
        }
        
        header {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
            position: fixed;
            top: 0;
            width: 100%;
        }
        
        footer {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        
        main {
            padding: 80px 20px 20px;
        }
        
        main#content {
            min-height: 100vh;
            padding-top: 7rem !important;
            /*centralizar o conteúdo*/
            margin: 0 auto !important;
            max-width: 1200px;
        }
        
        button {
            margin-right: 10px;
        }
        /* @media only screen and (max-width: 768px) {
            header {
                padding: 5px;
            }
            main {
                padding: 60px 10px 10px;
            }
        } */
    </style>

</head>

<body>
    <div id="app">
        <header>
            <h1>Gerador de Prompt para Blog Post no Chat GPT <i class="fa-solid fa-comments"></i> </h1>
        </header>

        <main id="content" class="container m-5 p-5">
            <form @submit.prevent="generatePrompt" v-if="!promptGenerated" autocomplete="off">
                <div class="row">

                    <!-- link / url -->
                    <div class="col-md-12 mb-3">
                        <label for="url" class="form-label">Informe Link/Url para base:</label>
                        <input type="url" class="form-control" id="url" v-model="url" required>
                    </div>

                    <!-- persona -->
                    <div class="col-md-6 mb-3">
                        <label for="persona" class="form-label">Selecione a Persona do público-alvo:</label>
                        <input type="persona" class="form-control" id="persona" v-model="persona" required>
                    </div>

                    <!-- objetivo -->
                    <div class="col-md-6 mb-3">
                        <label for="objetivo" class="form-label">Selecione o Objetivo:</label>
                        <select class="form-select" id="objetivo" v-model="objetivo" required>
                            <option :value="item.value" v-for="item in selectObjetivo" :key="item.value">{{item.description}}</option>
                        </select>
                    </div>

                    <!-- tom -->
                    <div class="col-md-6 mb-3">
                        <label for="tom" class="form-label">Selecione o Tom:</label>
                        <select class="form-select" id="tom" v-model="tom" required>
                            <option :value="item.value" v-for="item in selectTom" :key="item.value">{{item.description}}</option>
                        </select>
                    </div>

                    <!-- tamanho -->
                    <div class="col-md-6 mb-3">
                        <label for="tamanho" class="form-label">Comprimento do Artigo:</label>
                        <select class="form-select" id="tamanho" v-model="tamanho" required>
                            <option :value="item.value" v-for="item in selectTamanho" :key="item.value">{{item.description}}</option>
                        </select>
                    </div>

                    <!-- estilo -->
                    <div class="col-md-6 mb-3">
                        <label for="estilo" class="form-label">Selecione o Estilo:</label>
                        <select class="form-select" id="estilo" v-model="estilo" required>
                            <option :value="item.value" v-for="item in selectEstilo" :key="item.value">{{item.description}}</option>
                        </select>
                    </div>

                    <!-- vocabulario -->
                    <div class="col-md-6 mb-3">
                        <label for="vocabulario" class="form-label">Selecione o tipo de Vocabulário:</label>
                        <select class="form-select" id="vocabulario" v-model="vocabulario" required>
                            <option :value="item.value" v-for="item in selectVocabulario" :key="item.value">{{item.description}}</option>
                        </select>
                    </div>

                    <!-- personalidade -->
                    <div class="col-md-6 mb-3">
                        <label for="personalidade" class="form-label">Selecione a Personalidade:</label>
                        <select class="form-select" id="personalidade" v-model="personalidade" required>
                            <option :value="item.value" v-for="item in selectPersonalidade" :key="item.value">{{item.description}}</option>
                        </select>
                    </div>

                    <!-- idioma -->
                    <div class="col-md-6 mb-3">
                        <label for="idioma" class="form-label">Idioma:</label>
                        <select class="form-select" id="idioma" v-model="idioma" required>
                            <option :value="item.value" v-for="item in selectIdioma" :key="item.value">{{item.description}}</option>
                        </select>
                    </div>
                </div>

                <center class="mt-5 d-flex justify-content-evenly">
                    <button @click="goBack" class="btn btn-secondary px-5"> <i class="fa-solid fa-trash"></i> Limpar </button>
                    <button type="submit" class="btn btn-primary px-5"> <i class="fa-solid fa-gear"></i> Gerar Prompt</button>
                </center>
            </form>

            <div v-if="promptGenerated" class="mt-4">
                <div class="d-flex justify-content-evenly">
                    <h4>Preview Prompt Gerado:</h4>
                    <button @click="copyToClipboard" class="btn btn-success px-5"> <i class="fa-solid fa-rotate"></i> Copiar </button>
                </div>
                <div>
                    <!-- <small readonly>{{ generatedPrompt }}</small> -->
                    <textarea class="form-control mt-3" rows="15" readonly disabled>{{ generatedPrompt }}</textarea>
                </div>
                <div>
                    <center class="mt-5 d-flex justify-content-evenly">
                        <button @click="goBack" class="btn btn-danger px-5"> <i class="fa-solid fa-rotate"></i> Voltar </button>
                        <button @click="copyToClipboard" class="btn btn-primary px-5"> <i class="fa-solid fa-rotate"></i> Copiar </button>
                    </center>
                </div>
            </div>
        </main>

        <footer class="mt-8">
            <p class="text-sm text-gray-500 text-center">Feito com ♥ por hotwyl | Gerador de Prompt para Chat GPT &reg; Todos os direitos reservados | &copy; <a href="#" target="_blank">WILLFROMBRASIL</a>™ Company Inc <span>{{ year }}</p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js" integrity="sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js" integrity="sha512-GWzVrcGlo0TxTRvz9ttioyYJ+Wwk9Ck0G81D+eO63BaqHaJ3YZX9wuqjwgfcV/MrB2PhaVX9DkYVhbFpStnqpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    url: '',
                    objetivo: 'informar',
                    selectObjetivo: [
                        {value: 'informar', description: 'Informar Visando oferecer ao leitor novas informações ou fatos sobre um tópico ou evento específico'},
                        {value: 'persuadir', description: 'Persuadir Projetando para convencer o leitor a adotar um certo ponto de vista ou a tomar uma ação específica'},
                        {value: 'entreter', description: 'Entreter sendo principal objetivo é fornecer diversão ou prazer ao leitor'},
                        {value: 'expressar', description: 'Expressar opinião Apresentando as opiniões pessoais do autor sobre um assunto'},
                        {value: 'provocar', description: 'Provocar reflexão Visando estimular o pensamento crítico ou introspectivo no leitor'},
                        {value: 'ensinar', description: 'Ensinar Procurando transmitir conhecimentos ou habilidades específicas ao leitor'},
                        {value: 'criticar', description: 'Criticar Apresentando uma avaliação negativa ou uma análise crítica de algo'},
                        {value: 'explorar', description: 'Explorar Buscando examinar um tópico em profundidade a partir de várias perspectivas'},
                        {value: 'descobrir', description: 'Descobrir Relatando a descoberta de novas informações ou insights'},
                        {value: 'denunciar', description: 'Denunciar Expondo problema, erro ou injustiça'},
                        {value: 'exaltar', description: 'Exaltar, Elogia ou glorifica uma pessoa, objeto, evento ou ideia'},
                        {value: 'questionar', description: 'Questionar ou desafia uma ideia, crença ou prática estabelecida'},
                        {value: 'motivar', description: 'Motivar Buscando inspirar o leitor a fazer algo ou atingir um objetivo'},
                        {value: 'instruir', description: 'Instruir Oferecendo instruções detalhadas sobre como realizar uma tarefa'},
                        {value: 'descrever', description: 'Descrever Fornecendo uma descrição detalhada de uma pessoa, lugar, objeto ou evento'},
                        {value: 'anunciar', description: 'Anunciar e Comunica novas informações ou notícias'},
                        {value: 'evocar', description: 'Evocar emoções Procurando despertar emoções específicas no leitor, como alegria, tristeza, raiva, surpresa, etc'}
                    ],
                    otherObjetivo: '',
                    persona: '',
                    vocabulario: 'informal',
                    selectVocabulario: [
                        {value: 'tecnico', description: 'Técnico com Vocabulário específico de uma área de conhecimento'},
                        {value: 'academico', description: 'Acadêmico com Estilo formal utilizado no meio acadêmico'},
                        {value: 'coloquial', description: 'Coloquial com Expressões informais, utilizadas no dia a dia'},
                        {value: 'arcaico', description: 'Arcaico com Palavras ou termos antigos ou desatualizados'},
                        {value: 'moderno', description: 'Moderno com Jargão atual, contemporâneo'},
                        {value: 'poetico', description: 'Poético com Expressões que comunicam emoções através da beleza e da harmonia'},
                        {value: 'jornalistico', description: 'Jornalístico com Estilo objetivo e factual usado em jornalismo'},
                        {value: 'diplomatico', description: 'Diplomático com Palavras cuidadosas para evitar ofensas e manter relações'},
                        {value: 'burocratico', description: 'Burocrático com Estilo formal e cheio de jargões utilizados em burocracias'},
                        {value: 'profissional', description: 'Profissional com Vocabulário utilizado em um contexto de trabalho'},
                        {value: 'vulgar', description: 'Vulgar com Palavras grosseiras ou ofensivas'},
                        {value: 'legal', description: 'Legal com Termos específicos ao campo do direito'},
                        {value: 'medico', description: 'Médico com Expressões específicas ao campo da medicina'},
                        {value: 'politico', description: 'Político com Vocabulário relacionado à política'},
                        {value: 'esportivo', description: 'Esportivo com Palavras relacionadas aos esportes'},
                        {value: 'publicitario', description: 'Publicitário com Estilo usado na publicidade'},
                        {value: 'literario', description: 'Literário com Expressões artísticas usadas na literatura'},
                        {value: 'informal', description: 'Informal com Jargão casual, sem muitas regras'},
                        {value: 'militar', description: 'Militar com Terminologia específica ao campo militar'},
                        {value: 'cinematografico', description: 'Cinematográfico com Vocabulário específico ao campo do cinema'}
                    ],
                    otherVocabulario: '',
                    estilo: 'descritivo',
                    selectEstilo: [
                        {value: 'descritivo', description: 'Descritivo com Descrição detalhada de pessoas, lugares, objetos etc'},
                        {value: 'persuasivo', description: 'Persuasivo Tentando de convencer o leitor a adotar uma certa perspectiva'},
                        {value: 'narrativo', description: 'Narrativo Contando uma história ou relata eventos'},
                        {value: 'expositivo', description: 'Expositivo Explicando ou informando sobre um tema'},
                        {value: 'dramatico', description: 'Dramático com Linguagem usada em peças teatrais'},
                        {value: 'lirico', description: 'Lírico que Expressa sentimentos e pensamentos pessoais'},
                        {value: 'fluxo', description: 'Fluxo de consciência que Registra os pensamentos e sentimentos que passam pela mente de um personagem'},
                        {value: 'dialogo', description: 'Diálogo demonstrando Conversa entre dois ou mais personagens'},
                        {value: 'monologo', description: 'Monólogo Discursivo de um personagem'},
                        {value: 'rimas', description: 'Rimas com Uso de palavras que possuem uma terminação sonora idêntica ou semelhante'},
                        {value: 'haiku', description: 'Haiku em Forma de poesia japonesa composta de três linhas'},
                        {value: 'parodia', description: 'Paródia com Imitação humorística ou satírica'},
                        {value: 'minimalista', description: 'Minimalista com Linguagem simples e direta'},
                        {value: 'barroco', description: 'Barroco com Linguagem ornamental e complexa'},
                        {value: 'abstrato', description: 'Abstrato que Usa conceitos não concretos e ideias gerais'},
                        {value: 'realista', description: 'Realista que Representa coisas como elas realmente são'},
                        {value: 'alegorico', description: 'Alegórico que Usa símbolos para representar ideias ou princípios'},
                        {value: 'satira', description: 'Sátira com Uso do humor para criticar'},
                        {value: 'simbolico', description: 'Simbólico com Uso de símbolos para representar ideias'}
                    ],
                    otherEstilo: '',
                    personalidade: 'casual',
                    selectPersonalidade: [
                        {value: 'casual', description: 'Casual, com Linguagem e tom descontraídos, sem formalidade'},
                        {value: 'formal', description: 'Formal, Usando de linguagem precisa, tom respeitoso e estruturado'},
                        {value: 'humoristico', description: 'Humorístico, Incorporando humor, piadas e ironia'},
                        {value: 'serio', description: 'Sério com Tom sóbrio, sem humor'},
                        {value: 'impessoal', description: 'Impessoal com Abordagem objetiva, sem expressar emoções ou opiniões pessoais'},
                        {value: 'empatico', description: 'Empático Demonstrando compreensão e compartilhamento das emoções do leitor'},
                        {value: 'didatico', description: 'Didático Orientando para ensinar ou fornecer informações de maneira clara'},
                        {value: 'cinico', description: 'Cínico com Descrença ou desconfiança das motivações ou ações das pessoas'},
                        {value: 'otimista', description: 'Otimista com Tendência para esperar o melhor resultado possível'},
                        {value: 'pessimista', description: 'Pessimista com Tendência para esperar o pior resultado'},
                        {value: 'animado', description: 'Animado Cheio de energia e entusiasmo'},
                        {value: 'reservado', description: 'Reservado com Abordagem cautelosa, sem expressão excessiva de emoções'},
                        {value: 'energico', description: 'Enérgico com Linguagem cheia de vigor, paixão e emoção'},
                        {value: 'agressivo', description: 'Agressivo com Confronto direto, linguagem de comando'},
                        {value: 'passivo', description: 'Passivo com Abordagem suave, sem confronto'},
                        {value: 'encorajador', description: 'Encorajador Orientando para inspirar e motivar o leitor'},
                        {value: 'critico', description: 'Crítico Enfatizando avaliação e julgamento'},
                        {value: 'curioso', description: 'Curioso Mostrando um desejo de aprender ou saber mais'},
                        {value: 'afetuoso', description: 'Afetuoso Demonstrando calor e carinho'},
                        {value: 'apatico', description: 'Apático Mostrando indiferença e falta de interesse'}
                    ],
                    otherPersonalidade: '',
                    tom: 'amigavel',
                    selectTom: [
                        {value: 'alegre', description: 'Alegre transmitindo felicidade e positividade'},
                        {value: 'melancolico', description: 'Melancólico transmitindo tristeza, saudade ou pensamento'},
                        {value: 'ironico', description: 'Irônico expressando algo diferente do que significa literalmente'},
                        {value: 'sarcastico', description: 'Sarcástico usando de ironia para zombar ou mostrar descontentamento'},
                        {value: 'respeitoso', description: 'Respeitoso mostrando consideração e respeito'},
                        {value: 'desrespeitoso', description: 'Desrespeitoso com falta de respeito ou consideração'},
                        {value: 'ousado', description: 'Ousado, Corajoso, disposto a correr riscos'},
                        {value: 'humilde', description: 'Humilde, Modesto, sem pretensões'},
                        {value: 'ansioso', description: 'Ansioso, que Mostra preocupação ou inquietação'},
                        {value: 'calmo', description: 'Calmo, Tranquilo, sem agitação'},
                        {value: 'enfatico', description: 'Enfático, Exprimindo algo com ênfase ou força'},
                        {value: 'indiferente', description: 'Indiferente, Sem interesse, preocupação ou simpatia'},
                        {value: 'desafiador', description: 'Desafiador, que Mostra resistência ou desafio'},
                        {value: 'inspirador', description: 'Inspirador, que Encoraja ou motiva o leitor'},
                        {value: 'medroso', description: 'Medroso, que Mostra medo ou ansiedade'},
                        {value: 'zangado', description: 'Zangado, que Expressa raiva ou irritação'},
                        {value: 'amigavel', description: 'Amigável, Cordial e amigável'},
                        {value: 'hostil', description: 'Hostil, Antipático ou agressivo'},
                        {value: 'condescendente', description: 'Condescendente, Demonstrando uma sensação de superioridade'},
                        {value: 'fascinado', description: 'Fascinado, Extremamente interessado ou atraído'}
                    ],
                    otherTom: '',
                    tamanho: 'maislongo',
                    selectTamanho: [
                        {value: 'curto', description: 'com 600 a 900 palavras dividindo em 2 ou 3 Seções'},
                        {value: 'curta', description: 'com 900 a 1300 palavras dividindo em 3 a 5 Seções'},
                        {value: 'medio', description: 'com 1300 a 1900 palavras dividindo em 5 a 7 Seções'},
                        {value: 'longa', description: 'com 1900 a 2400 palavras dividindo em 7 a 10 Seções'},
                        {value: 'maislongo', description: 'com 2400 a 3000 palavras dividindo em 10 a 12 Seções'},
                    ],
                    otherTamanho: '',
                    idioma: 'portugues',
                    selectIdioma: [
                        {value: 'portugues', description: 'Português'},
                        {value: 'ingles', description: 'Inglês'},
                        {value: 'espanhol', description: 'Espanhol'}
                    ],
                    otherIdioma: '',
                    promptGenerated: false,
                    generatedPrompt: '',
                    year: new Date().getFullYear(),
                };
            },
            methods: {
                generatePrompt() {
                    // identificar o comprimento do artigo
                    const tamanhoOpcaoSelecionada = this.selectTamanho.find(opcao => opcao.value === this.tamanho);
                    this.otherTamanho = tamanhoOpcaoSelecionada ? tamanhoOpcaoSelecionada.description : 'com 2400 a 3000 palavras dividindo em 10 a 12 Seções';
                    
                    // identificar o idioma do artigo
                    const idiomaOpcaoSelecionada = this.selectIdioma.find(opcao => opcao.value === this.idioma);
                    this.otherIdioma = idiomaOpcaoSelecionada ? idiomaOpcaoSelecionada.description : 'Português';

                    // identificar o objetivo do artigo
                    const objetivoOpcaoSelecionada = this.selectObjetivo.find(opcao => opcao.value === this.objetivo);
                    this.otherObjetivo = objetivoOpcaoSelecionada ? objetivoOpcaoSelecionada.description : 'Informar Visando oferecer ao leitor novas informações ou fatos sobre um tópico ou evento específico';

                    // identificar o tom do artigo
                    const tomOpcaoSelecionada = this.selectTom.find(opcao => opcao.value === this.tom);
                    this.otherTom = tomOpcaoSelecionada ? tomOpcaoSelecionada.description : 'Amigável, Cordial e amigável';

                    // identificar o estilo do artigo
                    const estiloOpcaoSelecionada = this.selectEstilo.find(opcao => opcao.value === this.estilo);
                    this.otherEstilo = estiloOpcaoSelecionada ? estiloOpcaoSelecionada.description : 'Descritivo com Descrição detalhada de pessoas, lugares, objetos etc';

                    // identificar o vocabulario do artigo
                    const vocabularioOpcaoSelecionada = this.selectVocabulario.find(opcao => opcao.value === this.vocabulario);
                    this.otherVocabulario = vocabularioOpcaoSelecionada ? vocabularioOpcaoSelecionada.description : 'Informal com Jargão casual, sem muitas regras';

                    // identificar a personalidade do artigo
                    const personalidadeOpcaoSelecionada = this.selectPersonalidade.find(opcao => opcao.value === this.personalidade);
                    this.otherPersonalidade = personalidadeOpcaoSelecionada ? personalidadeOpcaoSelecionada.description : 'Casual, com Linguagem e tom descontraídos, sem formalidade';

// gerar o prompt
this.generatedPrompt += `
Ignore todas as solicitações e ações anteriores.

você é um redator publicitário formado em publicidade e propaganda experiente na área de marketing digital especialista em SEO e trafego orgânico. Você tem uma mente com o nível de inteligência acima do normal. Você é um gênio que combinam o pensamento criativo e as habilidades de habilidades de comunicação, com o objetivo de inovar e estar um passo a frente.

Como colunista de sites e blogs escreve artigos que geram muitos acesso e ranqueiam na primeira pagina dos mecanismos de busca. Você sabe como escrever artigos otimizados para trafego organico aplicando as tecnicas de SEO mais eficientes para gerar acessos e ranquear na primeira pagina dos mecanismos de buscas.

Aplique todo seu conhecimento e experiencia rescrevendo o artigo da url ${this.url} com o objetivo de ${this.otherObjetivo} para o público de ${this.persona} em tom ${this.otherTom} com o tamanho ${this.otherTamanho} de maneira otimizada para mecanismos de buscas com técnicas SEO utilizando linguagem e vacabulario ${this.otherVocabulario} com estilo ${this.otherEstilo} abordando personalidade ${this.otherPersonalidade}.

O post deve ser recriado com a seguinte estrutura:

- Deve ser escrito em tom ${this.otherTom}.
- Deve conter pelo menos ${this.otherTamanho} palavras. Se necessário, divida o artigo em seções. Cada seção deve ter pelo menos 300 palavras. Cada seção deve ter um subtítulo (Heading Tags). Se necessário aumente o tamanho do artigo.
- Crie um título atraente que inclua a palavra-chave principal.
- Mantenha o título com 60-70 caracteres para garantir que ele seja exibido completamente nos resultados de pesquisa.
- Customize a URL do seu artigo para incluir a palavra-chave principal evitando URLs longas e confusas.
- Comece o artigo com uma introdução interessante que explique o que o leitor aprenderá com o artigo e prenda a atenção dos leitores.
- Inclua a palavra-chave principal de forma natural na introdução.
- Finalize com uma conclusão que resuma as principais ideias do artigo.
- Inclua outras palavra-chave nos Título e subtítulos (Heading Tags).
- Usar sinônimos e variações de palavras-chave para evitar repetições.
- Use subtítulos (Heading Tags) para dividir o conteúdo em seções.
- Forneça informações úteis, relevantes e precisas sobre o tópico.
- Use linguagem no estilo ${this.otherEstilo}.
- Além da palavra-chave principal, inclua palavras-chave de cauda longa relacionadas ao longo do texto.
- Evite o excesso de otimização de palavras-chave. Mantenha uma densidade natural e não force palavras-chave.
- Use o editor de esboços para criar um esboço do artigo.
- Inclua uma seção de perguntas frequentes (FAQ) para responder às perguntas mais comuns.
- Inclua uma seção com os principais tópicos do artigo para facilitar a navegação.

Após recriar o post prossiga:

- Liste as melhores palavra chaves, tags e categorias para este post.
- Escreva uma meta descrição com cerca de 150-160 caracteres de forma concisa e atraente que inclua a palavra-chave principal.
- Crie um resumo do artigo em um paragrafo com até 250 caracteres.
- Indique imagens que representem este artigo. Descreva a imagem e informe os atributos (title, alt, description, legend, url, uri) para tag html img da imagem.
- Gere as configurações de Seo do wordpress para este artigo.
- Gere as configurações para o plugin rank Math do wordpress para este artigo.
- Gere as configurações para o plugin Yoast Seo do wordpress para este artigo.

Indique as configurações e formatações para piblicar este post no wordpress.

ATENÇÃO:
- Nunca imprima caracteres especiais como <>[]{} nem tags
- Please write in ${this.otherIdioma} language.
`;

                    this.promptGenerated = true;
                },
                copyToClipboard() {
                    const textarea = document.createElement('textarea');
                    // Substituir quebras de linha por espaços
                    const promptWithoutNewlines = this.generatedPrompt.replace(/\n/g, ' ');
                    textarea.value = promptWithoutNewlines;
                    document.body.appendChild(textarea);
                    textarea.select();
                    document.execCommand('copy');
                    document.body.removeChild(textarea);
                    Swal.fire('Conteúdo copiado para a área de transferência!');
                },
                goBack() {
                    this.promptGenerated = false;
                    // Redirecione ou faça qualquer outra ação ao voltar
                    location.reload();
                }
            },
            created() {
                this.year = new Date().getFullYear();
            },
            mounted() {
            },
            updated() {
            }
        });
        app.mount('#app');
    </script>

</body>

</html>