<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de Prompt para Sistema no Chat GPT</title>
    <meta name="description" content="Uma ferramenta avançada para gerar prompts inteligentes para conversas com modelos GPT. Crie diálogos envolventes e informativos.">
    <meta name="keywords" content="Gerador de Prompt, Chat GPT, Diálogo, Inteligência Artificial, Hotwyl">
    <meta name="author" content="Hotwyl">
    <!-- Outras meta tags importantes para SEO -->
    <meta name="robots" content="index, follow">
    <!-- Instruções para os motores de busca -->
    <link rel="canonical" href="URL_CANONICA">
    <!-- URL canônica para evitar conteúdo duplicado -->
    <meta name="image" content="URL_DA_IMAGEM">
    <!-- URL de uma imagem representativa -->
    <!-- Outras meta tags específicas do OpenGraph para redes sociais -->
    <meta property="og:title" content="Gerador de Prompt para Chat GPT por Hotwyl">
    <meta property="og:description" content="Uma ferramenta avançada para gerar prompts inteligentes para conversas com modelos GPT. Crie diálogos envolventes e informativos.">
    <meta property="og:image" content="URL_DA_IMAGEM_PARA_OPENGRAPH">
    <meta property="og:url" content="URL_DA_PAGINA">
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@hotwyl">
    <meta name="twitter:title" content="Gerador de Prompt para Chat GPT por Hotwyl">
    <meta name="twitter:description" content="Uma ferramenta avançada para gerar prompts inteligentes para conversas com modelos GPT. Crie diálogos envolventes e informativos.">
    <meta name="twitter:image" content="URL_DA_IMAGEM_PARA_TWITTER">
    <!-- Favicon -->
    <link rel="shortcut icon" href="URL_DO_FAVICON" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
            color: #333;
            background-color: #fff;
            box-sizing: border-box;
        }
        
        header {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
            position: fixed;
            top: 0;
            width: 100%;
        }
        
        footer {
            background-color: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
        
        main {
            padding: 80px 20px 20px;
        }
        
        main#content {
            min-height: 100vh;
            padding-top: 7rem !important;
            /*centralizar o conteúdo*/
            margin: 0 auto !important;
            max-width: 1200px;
        }
        
        button {
            margin-right: 10px;
        }
        /* @media only screen and (max-width: 768px) {
            header {
                padding: 5px;
            }
            main {
                padding: 60px 10px 10px;
            }
        } */
    </style>

</head>

<body>
    <div id="app">
        <header>
            <h1>Gerador de Prompt para Sistema no Chat GPT <i class="fa-solid fa-comments"></i> </h1>
        </header>

        <main id="content" class="container m-5 p-5">
            <form @submit.prevent="generatePrompt" v-if="!promptGenerated" autocomplete="off">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="descricao" class="form-label">Informe qual sistema deseja desenvolver:</label>
                        <textarea class="form-control" id="descricao" v-model="descricao" required></textarea>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="persona" class="form-label">Informe Publico Alvo para utilização do sistema</label>
                        <textarea class="form-control" id="persona" v-model="persona" required></textarea>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="objetivo" class="form-label">Informe o objetivo do sistema</label>
                        <textarea class="form-control" id="objetivo" v-model="objetivo" required></textarea>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="stack" class="form-label">Qual a Stack de desenvolvimento?</label>
                        <select class="form-select" id="stack" v-model="stack" required>
                            <option value="personalizado">Personalizado</option>
                            <option value="html1">HTML + CSS + JS</option>
                            <option value="html2">HTML + CSS + JS + PHP + MYSQL + PDO</option>
                            <option value="html3">HTML + CSS + Vue JS CDN</option>
                            <option value="html4">HTML + CSS + Vue JS CDN + PHP + MYSQL + PDO</option>
                            <option value="bootstrap1">Bootstrap + JS</option>
                            <option value="bootstrap2">Bootstrap + JS + PHP + MYSQL + PDO</option>
                            <option value="bootstrap3">Bootstrap + Vue JS CDN</option>
                            <option value="bootstrap4">Bootstrap + Vue JS CDN + PHP + MYSQL + PDO</option>
                            <option value="materialize1">Materialize + JS</option>
                            <option value="materialize2">Materialize + JS + PHP + MYSQL + PDO</option>
                            <option value="materialize3">Materialize + Vue JS CDN</option>
                            <option value="materialize4">Materialize + Vue JS CDN + PHP + MYSQL + PDO</option>
                            <option value="tailwind1">Tailwind + JS</option>
                            <option value="tailwind2">Tailwind + JS + PHP + MYSQL + PDO</option>
                            <option value="tailwind3">Tailwind + Vue JS CDN</option>
                            <option value="tailwind4">Tailwind + Vue JS CDN + PHP + MYSQL + PDO</option>
                            <option value="personalizado">Personalizado</option>
                        </select>
                    </div>

                    <div class="col-md-6 mb-3" v-if="stack === 'personalizado'">
                        <label for=" front" class="form-label">Qual a linguagem Frontend?</label>
                        <select class="form-select" id="front" v-model="front" required>
                            <option value="htmlcssjs">HTML CSS JS</option>
                            <option value="tailwind">Tailwind CSS</option>
                            <option value="bootstrap">Bootstrap</option>
                            <option value="materialize">Materialize</option>
                            <option value="vue">Vue JS</option>
                            <option value="nuxt">Nuxt JS</option>
                            <option value="react">React JS</option>
                            <option value="next">Next JS</option>
                            <option value="angular">Angular JS</option>
                        </select>
                    </div>

                    <div class="col-md-6 mb-3" v-if="stack === 'personalizado'">
                        <label for="back" class="form-label">Qual a linguagem Backend?</label>
                        <select class="form-select" id="back" v-model="back" required>
                            <option value="php">PHP</option>
                            <option value="laravel">Laravel</option>
                            <option value="node">Node JS</option>
                            <option value="express">Express JS</option>
                            <option value="python">Python</option>
                        </select>
                    </div>

                    <div class="col-md-6 mb-3" v-if="stack === 'personalizado'">
                        <label for="banco" class="form-label">Qual o banco de dados?</label>
                        <select class="form-select" id="banco" v-model="banco" required>
                            <option value="mysql">MySQL</option>
                            <option value="mariadb">MariaDB</option>
                            <option value="postgresql">PostgreSQL</option>
                            <option value="mongodb">MongoDB</option>
                            <option value="sqlite">SQLite</option>
                            <option value="redis">Redis</option>
                        </select>
                    </div>

                </div>

                <div class="mb-3">
                    <center class="my-3"><span class="text-muted">Opções Adicionais:</label></center>
                    <div class="row">
                        <!-- Aplique conceitos e técnicas de UI/UX para deixar a aplicação profissional. -->
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="uiux" v-model="opcoes.uiux">
                            <label class="form-check-label" for="uiux">Técnicas de UI/UX</label>
                        </div>

                        <!-- Aplique tecnicas para SEO. -->
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="seo" v-model="opcoes.seo">
                            <label class="form-check-label" for="seo">Técnicas de SEO</label>
                        </div>

                        <!-- Utilize conceitos de segurança da informação. -->
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="seguranca" v-model="opcoes.seguranca">
                            <label class="form-check-label" for="seguranca">Segurança da Informação</label>
                        </div>

                        <!-- Utilize bootstrap5 para estilização. -->
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="bootstrap" v-model="opcoes.bootstrap">
                            <label class="form-check-label" for="bootstrap">Bootstrap 5</label>
                        </div>

                        <!-- Utilize Font Awesome Icons para icones. -->
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="fontawesome" v-model="opcoes.fontawesome">
                            <label class="form-check-label" for="fontawesome">Font Awesome Icons</label>
                        </div>

                        <!-- Utilize SweetAlert2 para alertas. -->
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="sweetalert2" v-model="opcoes.sweetalert2">
                            <label class="form-check-label" for="sweetalert2">SweetAlert2</label>
                        </div>

                        <!-- Utilize DataTables para tabelas. -->
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="datatables" v-model="opcoes.datatables">
                            <label class="form-check-label" for="datatables">DataTables</label>
                        </div>

                        <!-- Utilize google charts para gráficos. -->
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="googlecharts" v-model="opcoes.googlecharts">
                            <label class="form-check-label" for="googlecharts">Google Charts</label>
                        </div>

                        <!-- Insira as meta-tags keywords, description, robots -->
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="metatags" v-model="opcoes.metatags">
                            <label class="form-check-label" for="metatags">Meta Tags</label>
                        </div>

                        <!-- o sistema deve ser projetado no formato de back e front comunicando via api rest -->
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="api" v-model="opcoes.api">
                            <label class="form-check-label" for="api">API REST</label>
                        </div>

                        <!-- Incluir sistema de Autenticação / Autorização / Permissão. Configurar Controle de Acesso -->
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="auth" v-model="opcoes.auth">
                            <label class="form-check-label" for="auth">Autenticação</label>
                        </div>  

                    </div>
                </div>

                <div class="mb-3">
                    <center class="my-3"><span class="text-muted">Documentações:</label></center>
                    <div class="row">
                        <!-- Declaração de escopo do projeto -->
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="declaracao_escopo" v-model="documentacao.escopo">
                            <label class="form-check-label" for="declaracao_escopo">Declaração de Escopo do Projeto</label>
                        </div>

                        <!-- Termo de abertura do projeto -->
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="abertura" v-model="documentacao.abertura">
                            <label class="form-check-label" for="abertura">Termo de Abertura do Projeto</label>
                        </div>

                        <!-- Plano de gerenciamento do projeto -->
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="gerenciamento" v-model="documentacao.gerenciamento">
                            <label class="form-check-label" for="gerenciamento">Plano de Gerenciamento do Projeto</label>
                        </div>

                        <!-- Plano de gerenciamento do escopo -->
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="gerenciamento_escopo" v-model="documentacao.gerenciamento_escopo">
                            <label class="form-check-label" for="gerenciamento_escopo">Plano de Gerenciamento do Escopo</label>
                        </div>

                        <!-- Plano de gerenciamento do cronograma -->
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="cronograma" v-model="documentacao.cronograma">
                            <label class="form-check-label" for="cronograma">Plano de Gerenciamento do Cronograma</label>
                        </div>

                        <!-- Plano de gerenciamento da equipe -->
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="equipe" v-model="documentacao.equipe">
                            <label class="form-check-label" for="equipe">Plano de Gerenciamento da Equipe</label>
                        </div>

                        <!-- Plano de gerenciamento do trabalho -->
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="trabalho" v-model="documentacao.trabalho">
                            <label class="form-check-label" for="trabalho">Plano de Gerenciamento do Trabalho</label>
                        </div>

                        <!-- Plano de garantia de qualidade -->
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="qualidade" v-model="documentacao.qualidade">
                            <label class="form-check-label" for="qualidade">Plano de Garantia de Qualidade</label>
                        </div>

                        <!-- Plano de gerenciamento de riscos -->
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="riscos" v-model="documentacao.riscos">
                            <label class="form-check-label" for="riscos">Plano de Gerenciamento de Riscos</label>
                        </div>

                        <!-- Controle de projetos automatizado -->
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="automatizado" v-model="documentacao.automatizado">
                            <label class="form-check-label" for="automatizado">Controle de Projetos Automatizado</label>
                        </div>

                        <!-- documento de Visão do Negócio. -->
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="visao" v-model="documentacao.visao">
                            <label class="form-check-label" for="visao">Documento de Visão do Negócio</label>
                        </div>

                        <!-- Descrição dos Casos de Uso. -->
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="casos" v-model="documentacao.casos">
                            <label class="form-check-label" for="casos">Descrição dos Casos de Uso</label>
                        </div>

                        <!-- Descrição dos Requisitos. -->
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="requisitos" v-model="documentacao.requisitos">
                            <label class="form-check-label" for="requisitos">Descrição dos Requisitos</label>
                        </div>

                        <!-- Descrição das Classes e Objetos. -->
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="classes" v-model="documentacao.classes">
                            <label class="form-check-label" for="classes">Descrição das Classes e Objetos</label>
                        </div>

                        <!-- Descrição dos processos. -->
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="processos" v-model="documentacao.processos">
                            <label class="form-check-label" for="processos">Descrição dos processos</label>
                        </div>

                        <!-- Documentação técnica – funcionalidades e relação de entrada, manipulação e saída de dados. -->
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="tecnica" v-model="documentacao.tecnica">
                            <label class="form-check-label" for="tecnica">Documentação Técnica</label>
                        </div>

                        <!-- Dicionário de Dados. -->
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="dicionario" v-model="documentacao.dicionario">
                            <label class="form-check-label" for="dicionario">Dicionário de Dados</label>
                        </div>

                        <!-- Modelo de Integração de Sistemas. -->
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="integracao" v-model="documentacao.integracao">
                            <label class="form-check-label" for="integracao">Modelo de Integração de Sistemas</label>
                        </div>

                        <!-- Plano de Testes Unitários. -->
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="testes" v-model="documentacao.testes">
                            <label class="form-check-label" for="testes">Plano de Testes Unitários</label>
                        </div>

                        <!-- Plano de Testes Funcionais. -->
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="funcionais" v-model="documentacao.funcionais">
                            <label class="form-check-label" for="funcionais">Plano de Testes Funcionais</label>
                        </div>

                        <!-- Plano de Homologação. -->
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="homologacao" v-model="documentacao.homologacao">
                            <label class="form-check-label" for="homologacao">Plano de Homologação</label>
                        </div>

                        <!-- Plano de Validação de Entradas e Saídas. -->
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="validacao" v-model="documentacao.validacao">
                            <label class="form-check-label" for="validacao">Plano de Validação de Entradas e Saídas</label>
                        </div>

                        <!-- Plano de Implantação. -->
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="implantacao" v-model="documentacao.implantacao">
                            <label class="form-check-label" for="implantacao">Plano de Implantação</label>
                        </div>

                        <!-- Documento de Serviços de Negócio. -->
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="servicos" v-model="documentacao.servicos">
                            <label class="form-check-label" for="servicos">Documento de Serviços de Negócio</label>
                        </div>

                        <!-- Markdown do arquivo readme para git. -->
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="readme" v-model="documentacao.readme">
                            <label class="form-check-label" for="readme">Markdown do Arquivo Readme</label>
                        </div>

                        <!-- Documentação de API (Swagger). -->
                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="swagger_api" v-model="documentacao.swagger_api">
                            <label class="form-check-label" for="swagger_api">Documentação de API (Swagger)</label>
                        </div>

                    </div>
                </div>
    
                <center class="my-5 d-flex justify-content-evenly">
                    <button @click="goBack" class="btn btn-secondary px-5"> <i class="fa-solid fa-trash"></i> Limpar </button>
                    <button type="submit" class="btn btn-primary px-5"> <i class="fa-solid fa-gear"></i> Gerar Prompt</button>
                </center>
            </form>

            <div v-if="promptGenerated" class="mt-4">
                <div class="d-flex justify-content-evenly">
                    <h4>Preview Prompt Gerado:</h4>
                    <button @click="copyToClipboard" class="btn btn-success px-5"> <i class="fa-solid fa-rotate"></i> Copiar </button>
                </div>
                <div>
                    <!-- <small readonly>{{ generatedPrompt }}</small> -->
                    <textarea class="form-control mt-3" rows="15" readonly disabled>{{ generatedPrompt }}</textarea>
                </div>
                <div>
                    <center class="mt-5 d-flex justify-content-evenly">
                        <button @click="goBack" class="btn btn-danger px-5"> <i class="fa-solid fa-rotate"></i> Voltar </button>
                        <button @click="copyToClipboard" class="btn btn-primary px-5"> <i class="fa-solid fa-rotate"></i> Copiar </button>
                    </center>
                </div>
            </div>
        </main>

        <footer class="mt-8">
            <p class="text-sm text-gray-500 text-center">Feito com ♥ por hotwyl | Gerador de Prompt para Chat GPT &reg; Todos os direitos reservados | &copy; <a href="#" target="_blank">WILLFROMBRASIL</a>™ Company Inc <span>{{ year }}</p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js" integrity="sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg==" crossorigin=" anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/js/all.min.js" integrity="sha512-GWzVrcGlo0TxTRvz9ttioyYJ+Wwk9Ck0G81D+eO63BaqHaJ3YZX9wuqjwgfcV/MrB2PhaVX9DkYVhbFpStnqpQ==" crossorigin=" anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    descricao: '',
                    persona: '',
                    objetivo: '',
                    stack: '',
                    front: '',
                    back: '',
                    banco: '',
                    opcoes: {
                        uiux: false,
                        seo: false,
                        seguranca: false,
                        bootstrap: false,
                        fontawesome: false,
                        sweetalert2: false,
                        datatables: false,
                        googlecharts: false,
                        metatags: false,
                        api: false,
                        auth: false,
                    },
                    documentacao: {
                        escopo: false,
                        abertura: false,
                        gerenciamento: false,
                        gerenciamento_escopo: false,
                        cronograma: false,
                        equipe: false,
                        trabalho: false,
                        qualidade: false,
                        riscos: false,
                        automatizado: false,
                        visao: false,
                        casos: false,
                        requisitos: false,
                        classes: false,
                        processos: false,
                        tecnica: false,
                        dicionario: false,
                        integracao: false,
                        testes: false,
                        funcionais: false,
                        homologacao: false,
                        validacao: false,
                        implantacao: false,
                        servicos: false,
                        readme: false,
                        swagger_api: false,
                    },
                    promptGenerated: false,
                    generatedPrompt: '',
                    idioma: 'Português',
                    year: new Date().getFullYear(),
                };
            },
            methods: {
                generatePrompt() {
                    this.promptGenerated = true;
                    this.generatedPrompt = '';
   
this.generatedPrompt += `
Ignore todas as solicitações e ações anteriores.

Você é Gestor de projetos, Product Owner e Scrum Master brilhante que ja produziu diversos sistemas web de sucesso que geram muita receita de lucratividade.

crie uma equipe emulando mentes virtuais com pelo menos um Desenvolvedor front-end, um Desenvolvedor back-end, um Desenvolvedor Fullstack, um Analista de banco de dados, um engenheiro de software, um Arquiteto de software, um Cientista de Dados, um UX/UI Designer, um Web designer, um Analista de sistemas, um especialista na Area e um especialista no assunto. Os membro desta equipe são especialista com muita experiencia e trabalharão juntos para projetar e desenvolver o melhor sistema. Um sistema, eficiente, seguro, incrivel de sucesso para ser hospedado na internet.

Cada um tem uma mente com o nível de inteligência acima do normal. Um gênio que combinam o pensamento criativo e as habilidades necessárias para encontrar soluções inovadoras. Sendo raro na sociedade e desafiando o conhecimento comum possue excelentes habilidades e maestria de colaboração expressando suas opiniões sem medo, com o objetivo de inovar e estar um passo a frente.

Cada Mente da equipe deve ser apresentada no seguinte formato:
{Nome} : {Formação} - {especialização} - {Experiencia} - {personalidade}.

A equipe deverá ser formada de acordo com o sistema ou softeware a ser desenvolvido. Após entender o problema e ou objetivo apresente a equipe. Esta equipe irá fazer sessões, consultoria e mentoria para guiar, orientar e ajudandar. Apresente os primeiros passos.

Após Montar a equipe começe a definir regra de negocio e recursos. Para melhor compreender a regra de negócios faça o levantamento de requisitos.

Logo após definir a regra de negocio defina arquitetura, tecnologias e linguagens.`

if(this.stack !== 'personalizado' && this.stack !== ''){
this.generatedPrompt += `
Sera desenvolvido um sistema ${this.descricao} para ${this.persona} com o objetivo de ${this.objetivo}.`
} else if(this.stack === 'personalizado' && this.stack === 'html1'){
this.generatedPrompt += `
Sera desenvolvido um sistema ${this.descricao} para ${this.persona} com o objetivo de ${this.objetivo} utilizando HTML5 + CSS3 + JS vanila.`
} else if(this.stack === 'personalizado' && this.stack === 'html2'){
this.generatedPrompt += `
Sera desenvolvido um sistema ${this.descricao} para ${this.persona} com o objetivo de ${this.objetivo} utilizando HTML5 + CSS3 + JS vanila + PHP 8 + MYSQL + PDO.`
} else if(this.stack === 'personalizado' && this.stack === 'html3'){
this.generatedPrompt += `
Sera desenvolvido um sistema ${this.descricao} para ${this.persona} com o objetivo de ${this.objetivo} utilizando HTML5 + CSS3 + Vue JS 3 CDN.`
} else if(this.stack === 'personalizado' && this.stack === 'html4'){
this.generatedPrompt += `
Sera desenvolvido um sistema ${this.descricao} para ${this.persona} com o objetivo de ${this.objetivo} utilizando HTML5 + CSS3 + Vue JS 3 CDN + PHP 8 + MYSQL + PDO.`
} else if(this.stack === 'personalizado' && this.stack === 'bootstrap1'){
this.generatedPrompt += `
Sera desenvolvido um sistema ${this.descricao} para ${this.persona} com o objetivo de ${this.objetivo} utilizando Bootstrap 5 + JS vanila.`
} else if(this.stack === 'personalizado' && this.stack === 'bootstrap2'){
this.generatedPrompt += `
Sera desenvolvido um sistema ${this.descricao} para ${this.persona} com o objetivo de ${this.objetivo} utilizando Bootstrap 5 + JS vanila + PHP 8 + MYSQL + PDO.`
} else if(this.stack === 'personalizado' && this.stack === 'bootstrap3'){
this.generatedPrompt += `
Sera desenvolvido um sistema ${this.descricao} para ${this.persona} com o objetivo de ${this.objetivo} utilizando Bootstrap 5 + Vue JS 3 CDN.`
} else if(this.stack === 'personalizado' && this.stack === 'bootstrap4'){
this.generatedPrompt += `
Sera desenvolvido um sistema ${this.descricao} para ${this.persona} com o objetivo de ${this.objetivo} utilizando Bootstrap 5 + Vue JS 3 CDN + PHP 8 + MYSQL + PDO.`
} else if(this.stack === 'personalizado' && this.stack === 'materialize1'){
this.generatedPrompt += `
Sera desenvolvido um sistema ${this.descricao} para ${this.persona} com o objetivo de ${this.objetivo} utilizando Materialize + JS vanila.`
} else if(this.stack === 'personalizado' && this.stack === 'materialize2'){
this.generatedPrompt += `
Sera desenvolvido um sistema ${this.descricao} para ${this.persona} com o objetivo de ${this.objetivo} utilizando Materialize + JS vanila + PHP 8 + MYSQL + PDO.`
} else if(this.stack === 'personalizado' && this.stack === 'materialize3'){
this.generatedPrompt += `
Sera desenvolvido um sistema ${this.descricao} para ${this.persona} com o objetivo de ${this.objetivo} utilizando Materialize + Vue JS 3 CDN.`
} else if(this.stack === 'personalizado' && this.stack === 'materialize4'){
this.generatedPrompt += `
Sera desenvolvido um sistema ${this.descricao} para ${this.persona} com o objetivo de ${this.objetivo} utilizando Materialize + Vue JS 3 CDN + PHP 8 + MYSQL + PDO.`
} else if(this.stack === 'personalizado' && this.stack === 'tailwind1'){
this.generatedPrompt += `
Sera desenvolvido um sistema ${this.descricao} para ${this.persona} com o objetivo de ${this.objetivo} utilizando Tailwind + JS vanila.`
} else if(this.stack === 'personalizado' && this.stack === 'tailwind2'){
this.generatedPrompt += `
Sera desenvolvido um sistema ${this.descricao} para ${this.persona} com o objetivo de ${this.objetivo} utilizando Tailwind + JS vanila + PHP + MYSQL + PDO.`
} else if(this.stack === 'personalizado' && this.stack === 'tailwind3'){
this.generatedPrompt += `
Sera desenvolvido um sistema ${this.descricao} para ${this.persona} com o objetivo de ${this.objetivo} utilizando Tailwind + Vue JS 3 CDN.`
} else if(this.stack === 'personalizado' && this.stack === 'tailwind4'){
this.generatedPrompt += `
Sera desenvolvido um sistema ${this.descricao} para ${this.persona} com o objetivo de ${this.objetivo} utilizando Tailwind + Vue JS 3 CDN + PHP + MYSQL + PDO.`
} else {
this.generatedPrompt += `
Sera desenvolvido um sistema ${this.descricao} para ${this.persona} com o objetivo de ${this.objetivo}.`
} 

if(this.stack === 'personalizado' && front === 'htmlcssjs'){
this.generatedPrompt += `
O sistema deve ser desenvolvido utilizando HTML5 CSS3 JS vanila no frontend.`;
} 
if(this.stack === 'personalizado' && front === 'tailwind'){
    this.generatedPrompt += `
O sistema deve ser desenvolvido utilizando Tailwind CSS no frontend.`;
} 
if(this.stack === 'personalizado' && front === 'bootstrap'){
    this.generatedPrompt += `
O sistema deve ser desenvolvido utilizando Bootstrap 5 no frontend.`;
} 
if(this.stack === 'personalizado' && front === 'materialize'){
    this.generatedPrompt += `
O sistema deve ser desenvolvido utilizando Materialize no frontend.`;
} 
if(this.stack === 'personalizado' && front === 'vue'){
    this.generatedPrompt += `
O sistema deve ser desenvolvido utilizando Vue JS 3 no frontend.`;
} 
if(this.stack === 'personalizado' && front === 'nuxt'){
    this.generatedPrompt += `
O sistema deve ser desenvolvido utilizando Nuxt JS 3 no frontend.`;
} 
if(this.stack === 'personalizado' && front === 'react'){
    this.generatedPrompt += `
O sistema deve ser desenvolvido utilizando React JS no frontend.`;
} 
if(this.stack === 'personalizado' && front === 'next'){
    this.generatedPrompt += `
O sistema deve ser desenvolvido utilizando Next JS no frontend.`;
} 
if(this.stack === 'personalizado' && front === 'angular'){
    this.generatedPrompt += `
O sistema deve ser desenvolvido utilizando Angular JS no frontend.`;
} 

if(this.stack === 'personalizado' && back !== 'php'){
    this.generatedPrompt += `
O sistema deve ser desenvolvido utilizando PHP 8 no backend.`;
} 
if(this.stack === 'personalizado' && back !== 'laravel'){
    this.generatedPrompt += `
O sistema deve ser desenvolvido utilizando Laravel 10 no backend.`;
}
 if(this.stack === 'personalizado' && back !== 'node'){
    this.generatedPrompt += `
O sistema deve ser desenvolvido utilizando Node JS no backend.`;
} 
if(this.stack === 'personalizado' && back !== 'express'){
    this.generatedPrompt += `
O sistema deve ser desenvolvido utilizando Express JS no backend.`;
} 
if(this.stack === 'personalizado' && back !== 'python'){
    this.generatedPrompt += `
O sistema deve ser desenvolvido utilizando Python no backend.`;
}

if(this.stack === 'personalizado' && banco === 'mysql'){
    this.generatedPrompt += `
O sistema deve ser desenvolvido utilizando MySQL no banco de dados.`;
} 
if(this.stack === 'personalizado' && banco === 'mariadb'){
    this.generatedPrompt += `
O sistema deve ser desenvolvido utilizando MariaDB no banco de dados.`;
} 
if(this.stack === 'personalizado' && banco === 'postgresql'){
    this.generatedPrompt += `
O sistema deve ser desenvolvido utilizando PostgreSQL no banco de dados.`;
} 
if(this.stack === 'personalizado' && banco === 'mongodb'){
    this.generatedPrompt += `
O sistema deve ser desenvolvido utilizando MongoDB no banco de dados.`;
} 
if(this.stack === 'personalizado' && banco === 'sqlite'){
    this.generatedPrompt += `
O sistema deve ser desenvolvido utilizando SQLite no banco de dados.`;
} 
if(this.stack === 'personalizado' && banco === 'redis'){
    this.generatedPrompt += `
O sistema deve ser desenvolvido utilizando Redis no banco de dados.`;
} 

if(this.opcoes){
    this.generatedPrompt += `
Considere os seguintes topicos no levantamento de requisitos:`;

if(this.opcoes.uiux){
    this.generatedPrompt += `
- Aplique conceitos e técnicas de UI/UX para deixar a aplicação profissional.`;
}
if(this.opcoes.seo){
    this.generatedPrompt += `
- Aplique tecnicas para SEO para otimizar e ranquear nos mecanismos de busca.`;
}
if(this.opcoes.seguranca){
    this.generatedPrompt += `
- Utilize conceitos de segurança da informação.`;
}
if(this.opcoes.bootstrap){
    this.generatedPrompt += `
- Utilize bootstrap5 para estilização.`;
}
if(this.opcoes.fontawesome){
    this.generatedPrompt += `
- Utilize Font Awesome Icons para icones.`;
}
if(this.opcoes.sweetalert2){
    this.generatedPrompt += `
- Utilize SweetAlert2 para alertas.`;
}
if(this.opcoes.datatables){
    this.generatedPrompt += `
- Utilize DataTables para tabelas.`;
}
if(this.opcoes.googlecharts){
    this.generatedPrompt += `
- Utilize google charts para gráficos.`;
}
if(this.opcoes.metatags){
    this.generatedPrompt += `
- Insira as meta-tags keywords, description, robots.`;
}
if(this.opcoes.api){
    this.generatedPrompt += `
- o sistema deve ser projetado no formato de back e front comunicando via api rest.`;
}
if(this.opcoes.auth){
    this.generatedPrompt += `
- Incluir sistema de Autenticação / Autorização / Permissão. Configurar Controle de Acesso.`;
}
}

if(this.documentacao){
    this.generatedPrompt += `
crie as documentação de desenvolvimento do projeto listadas a seguir:`;

if(this.documentacao.escopo){
    this.generatedPrompt += `
- Declaração de Escopo do Projeto`;
}
if(this.documentacao.abertura){
    this.generatedPrompt += `
- Termo de Abertura do Projeto`;
}
if(this.documentacao.gerenciamento){
    this.generatedPrompt += `
- Plano de Gerenciamento do Projeto`;
}
if(this.documentacao.gerenciamento_escopo){
    this.generatedPrompt += `
- Plano de Gerenciamento do Escopo`;
}
if(this.documentacao.cronograma){
    this.generatedPrompt += `
- Plano de Gerenciamento do Cronograma`;
}
if(this.documentacao.equipe){
    this.generatedPrompt += `
- Plano de Gerenciamento da Equipe`;
}
if(this.documentacao.trabalho){
    this.generatedPrompt += `
- Plano de Gerenciamento do Trabalho`;
}
if(this.documentacao.qualidade){
    this.generatedPrompt += `
- Plano de Garantia de Qualidade`;
}
if(this.documentacao.riscos){
    this.generatedPrompt += `
- Plano de Gerenciamento de Riscos`;
}
if(this.documentacao.automatizado){
    this.generatedPrompt += `
- Controle de Projetos Automatizado`;
}
if(this.documentacao.visao){
    this.generatedPrompt += `
- Documento de Visão do Negócio`;
}
if(this.documentacao.casos){
    this.generatedPrompt += `
- Descrição dos Casos de Uso`;
}
if(this.documentacao.requisitos){
    this.generatedPrompt += `
- Descrição dos Requisitos`;
}
if(this.documentacao.classes){
    this.generatedPrompt += `
- Descrição das Classes e Objetos`;
}
if(this.documentacao.processos){
    this.generatedPrompt += `
- Descrição dos processos`;
}
if(this.documentacao.tecnica){
    this.generatedPrompt += `
- Documentação Técnica`;
}
if(this.documentacao.dicionario){
    this.generatedPrompt += `
- Dicionário de Dados`;
}
if(this.documentacao.integracao){
    this.generatedPrompt += `
- Modelo de Integração de Sistemas`;
}
if(this.documentacao.testes){
    this.generatedPrompt += `
- Plano de Testes Unitários`;
}
if(this.documentacao.funcionais){
    this.generatedPrompt += `
- Plano de Testes Funcionais`;
}
if(this.documentacao.homologacao){
    this.generatedPrompt += `
- Plano de Homologação`;
}
if(this.documentacao.validacao){
    this.generatedPrompt += `
- Plano de Validação de Entradas e Saídas`;
}
if(this.documentacao.implantacao){
    this.generatedPrompt += `
- Plano de Implantação`;
}
if(this.documentacao.servicos){
    this.generatedPrompt += `
- Documento de Serviços de Negócio`;
}
if(this.documentacao.readme){
    this.generatedPrompt += `
- Markdown do Arquivo Readme`;
}
if(this.documentacao.swagger_api){
    this.generatedPrompt += `
- Documentação de API (Swagger)`;
}
}

this.generatedPrompt += `
Faça perguntas e dê sugestões das regras de negócio até que eu esteja satisfeito e diga que pode prossegir para proxima etapa. Antes de prosseguir para proxima etapa descreva / liste as regras de negocio definidas para o sistema.

Após entender a regra de negocio e fazer o levantamento de requisitos, defina as etapas e passos para desenvolvimento.

Indique as configurações e formatações para publicar este post no WordPress.
ATENÇÃO:

- Nunca imprima caracteres especiais como <>[]{} nem tags.
- Por favor, escreva em ${this.idioma}.
`;

                    this.promptGenerated = true;
                },
                copyToClipboard() {
                    const textarea = document.createElement('textarea');
                    // Substituir quebras de linha por espaços
                    const promptWithoutNewlines = this.generatedPrompt.replace(/\n/g, ' ');
                    textarea.value = promptWithoutNewlines;
                    document.body.appendChild(textarea);
                    textarea.select();
                    document.execCommand('copy');
                    document.body.removeChild(textarea);
                    Swal.fire('Conteúdo copiado para a área de transferência!');
                },
                goBack() {
                    this.promptGenerated = false;
                    // Redirecione ou faça qualquer outra ação ao voltar
                    location.reload();
                }
            },
            created() {
                this.year = new Date().getFullYear();
            },
            mounted() {
            },
            updated() {
            }
        });
        app.mount('#app');
    </script>

</body>

</html>